.App {
    background-color: red;
}

.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.todoForm {
    padding-bottom: 60px;
}

.loginForm{
    background-color: rgb(32, 233, 139);
    height:100vh;
}

.nav.nav-pills .nav-link.active{
    background-color: rgb(	19, 139, 83);
}

.customButton{
    background-color: rgb(5, 172, 94);
    color: white;
}
.customButton:hover {
    background-color: rgb(	19, 139, 83);
    color: white;
}
